@inherits LayoutComponentBase
@*@inject IBootstrapCss BootstrapCss*@
@*@inject IJSRuntime jsRuntime

    @code {
        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender)
            {
                await jsRuntime.InvokeVoidAsync("renderjQueryComponents");
            }

            await base.OnAfterRenderAsync(firstRender);
        }
    }*@

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
