@page "/"

<BSJumbotron>
    <h1 class="display-4">Game of Thrones</h1>
    <p class="lead">Complete guide of commander's skills</p>
    <hr class="my-4" />
    <BSFigure>
        <BSFigureImage src="./image/background.jpg" alt="A generic square placeholder image with rounded corners in a figure."/>
        <BSFigureCaption>Game of Thrones</BSFigureCaption>
    </BSFigure>
</BSJumbotron>